In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
train = pd.read_csv("titanic/train.csv")

In [3]:
train.Embarked

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [4]:
def sanitise_data(data, test=False):
    if not test:
        del data['Survived']
        
    for col in ['PassengerId','Name','Ticket']:
        del data[col]

    data.Cabin = data.Cabin.isna().astype(int)
    data.Embarked = data.Embarked.map({'S':1.,'C':0.6,'Q':0.3,np.nan:0})
    data.Sex = data.Sex.map({'male':0,'female':1})
    
    for col in ['Pclass', 'Age', 'Parch', 'SibSp', 'Fare']:
        data[col] = data[col].replace(np.nan, 0)
        data[col] = (data[col] - data[col].mean()) / data[col].std()
        
    data['bias'] = pd.Series([1 for i in range(len(data))])
    return data

In [5]:
y = train['Survived']
x = sanitise_data(train).to_numpy()

In [6]:
x[61]

array([-1.56522783,  1.        ,  0.80703838, -0.47427882, -0.47340772,
        0.96181313,  0.        ,  0.        ,  1.        ])

In [7]:
theta = np.random.randn((x.shape[1]))

m = x.shape[0]
J = 0
grad = np.zeros(m)

In [8]:
def h(X, theta):
    return 1./(1 + np.exp(-(theta @ X.T)))

In [9]:
def cost(theta, X, y):
    A = h(x, theta)
    J = (1/m) * np.sum((-(y.T) * np.log(A)) - ((1 - y.T) * np.log(1 - A)))
    err = A - y
    grad = (1/m) * (err.T @ X)
    return (J, grad)

In [10]:
theta

array([ 0.55936815,  0.98488206, -0.00233559, -0.79965477, -1.60758038,
        0.37660351,  0.60745165, -0.26881754,  0.44734198])

In [11]:
(J, grad) = cost(theta, x, y)

In [12]:
grad

array([ 0.23187194, -0.02295486, -0.00274136, -0.15460187, -0.28306782,
       -0.19846774,  0.34490686,  0.28271769,  0.32141681])

In [13]:
for i in range(10000):
    theta = theta - (0.01 * grad)
    (J, grad) = cost(theta, x, y)
    if i % 1000 == 0:
        print("Cost: {}".format(J))

Cost: 1.2831585249493838
Cost: 0.49582033361271516
Cost: 0.46953646349010875
Cost: 0.4593240640902637
Cost: 0.45422949721560224
Cost: 0.45171020665083006
Cost: 0.4504514068506722
Cost: 0.4497891591652328
Cost: 0.4494157696567433
Cost: 0.44919031887333283

In [25]:
test = pd.read_csv("test.csv")
testIds = test['PassengerId']
t = sanitise_data(test, test=True).to_numpy()
tA = h(t, theta)

array([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001,
       1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012,
       1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023,
       1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034,
       1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045,
       1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056,
       1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067,
       1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078,
       1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089,
       1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100,
       1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111,
       1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122,
       1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133,
       1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144,
       1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155,
       1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166,
       1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177,
       1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188,
       1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199,
       1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210,
       1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221,
       1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232,
       1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243,
       1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254,
       1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265,
       1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276,
       1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287,
       1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298,
       1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309])

In [40]:
res = {'PassengerId': testIds.to_numpy(), 'Survived': (tA > 0.5).astype(int)}
result = pd.DataFrame(data=res)

In [43]:
with open("results.csv", "w") as fh:
    fh.write(result.to_csv(index=False))