In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
train = pd.read_csv("train.csv")

In [3]:
def sanitise_data(data):
    for col in ['Survived','PassengerId','Name','Ticket']:
        del data[col]

    data.Cabin = data.Cabin.isna().astype(int)
    data.Embarked = data.Embarked.map({'S':1.,'C':0.6,'Q':0.3,pd.NA:0})
    data.Sex = data.Sex.map({'male':0,'female':1})
    
    for col in ['Pclass', 'Age', 'Parch', 'SibSp', 'Fare']:
        data[col] = (data[col] - data[col].mean()) / data[col].std()
        
    data['bias'] = pd.Series([1 for i in range(len(data))])
    return data

In [4]:
y = train['Survived']
x = sanitise_data(train)

In [5]:
x.shape

(891, 9)

In [6]:
theta = np.random.randn((x.shape[1]))

In [7]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [8]:
m = x.shape[0]
J = 0
grad = np.zeros(m)

In [9]:
def h(X, theta):
    return 1/(1 + np.exp(-(theta @ X.T)))

In [10]:
theta.shape

(9,)

In [11]:
def cost(theta, X, y):
    A = h(x, theta)   
    J = (1/m) * np.sum((-(y.T) * np.log(A)) - ((1 - y.T) * np.log(1 - A)))
    
    err = A - y
    grad = (1/m) * (err.T @ X)
    return (J, grad)

In [12]:
theta

array([-1.00007365,  1.54075651,  0.56765038, -1.02967765, -0.84050817,
        0.40940681,  1.41362482,  0.47895422, -0.62188488])

In [14]:
(J, grad) = cost(theta, x, y)

In [16]:
grad

Pclass     NaN
Sex        NaN
Age        NaN
SibSp      NaN
Parch      NaN
Fare       NaN
Cabin      NaN
Embarked   NaN
bias       NaN
dtype: float64

In [ ]:
for i in range(1000):
    theta = theta - ((0.01/m) * (grad @ x))
    (J, grad) = cost(theta, x, y)